body 
{
margin: 0;
padding: 0;
overflow-x: hidden;    
}
#app
{
width: 100%;
height: 350px;
margin: auto;
margin-left: 0%;
background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvOrHZIThew8DbvjPDX19kLZb1yMFuwpnShQ&s') no-repeat;
background-size: cover;
background-position: center;
position: relative;
-webkit-animation: infinite anim 12s;
animation: infinite anim 12;
animation-delay: 5s;
}
.banner-txt
{
width: 60%;    
height: auto;
background-color: white;
color: black;
text-align: center;
position: absolute;
top: 15%;
left: 20%;
border-radius: 20px;
padding: 20px;
}
.banner-txt h1 
{
animation: heartBeat infinite 2s;    
}
@keyframes anim {
    
10% 
{
margin: 0;
padding: 0;
background: url('https://learn.g2.com/hubfs/G2CM_FI1078_Learn_Article_%5BFree_Shopping_Cart_Software%5D_V1a.png') no-repeat;
background-size: cover;
background-position: center;
}
20%
{

margin: 0;
padding: 0;
background: url('https://learn.g2.com/hubfs/G2CM_FI1078_Learn_Article_%5BFree_Shopping_Cart_Software%5D_V1a.png') no-repeat;
background-size: cover;
background-position: center;
}
30%
{

margin: 0;
padding: 0;
background: url('https://www.vue.ai/blog/wp-content/uploads/2020/06/blogbanner-04.png') no-repeat;
background-size: cover;
background-position: center;
}
40%
{

margin: 0;
padding: 0;
background: url('https://static.vecteezy.com/system/resources/previews/014/288/345/large_2x/the-shopping-cart-in-female-hand-on-grey-background-banner-photo.jpg') no-repeat;
background-size: cover;
background-position: center;
}
50%
{

margin: 0;
padding: 0;
background: url('https://img.freepik.com/premium-photo/3d-render-smartphone-shopping-cart-isolated-blue-background-banner_387680-873.jpg') no-repeat;
background-size: cover;
background-position: center;
}

    
}
