body 
{
 width: 100%;
 height: 620px;
 overflow-x: hidden;   

 /* css3 properties */

 /* background:-webkit-linear-gradient(from left,#a61e14,#0c4582); 
 background:-moz-linear-gradient(from left,#a61e14,#0c4582); 
 background:-ie-linear-gradient(from left,#a61e14,#0c4582); 
 background:-o-linear-gradient(from left,#a61e14,#0c4582);   
 background:linear-gradient(to right,#a61e14,#0c4582);  */

/* css3 properties */
/* background:-webkit-linear-gradient(from top,#a61e14,#0c4582); 
background:-moz-linear-gradient(from top,#a61e14,#0c4582); 
background:-ie-linear-gradient(from top,#a61e14,#0c4582); 
background:-o-linear-gradient(from top,#a61e14,#0c4582);   
background:linear-gradient(to bottom,#a61e14,#0c4582);  */
/* 
background:-webkit-linear-gradient(90deg,#a61e14,#0c4582); 
background:-moz-linear-gradient(90deg,#a61e14,#0c4582); 
background:-ie-linear-gradient(90deg,#a61e14,#0c4582); 
background:-o-linear-gradient(90deg,#a61e14,#0c4582);   
background:linear-gradient(90deg,#a61e14,#0c4582);  */


/* background:-webkit-linear-gradient(45deg,#a61e14,#0c4582); 
background:-moz-linear-gradient(45deg,#a61e14,#0c4582); 
background:-ie-linear-gradient(45deg,#a61e14,#0c4582); 
background:-o-linear-gradient(45deg,#a61e14,#0c4582);   
background:linear-gradient(45deg,#a61e14,#0c4582);  */

background: -webkit-radial-gradient(#a61e14,#0c4582);
background:radial-gradient(#a61e14,#0c4582); 

}
@font-face {
    font-family: amore-valentine;
    src: url(../fonts/Amore\ Valentine-SVG.ttf);
}

.app 
{
width: 60%;
height: auto;
margin: auto;
background: white;
padding: 25px;
margin-top: 10%;
font-family: cursive;    
}
.app h1 
{
font-family: amore-valentine !important;
font-size: 65px;
}